/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


* {
    margin: 0;
    padding: 0;
}

::ng-deep * {
    margin: 0;
}

.wrapper {
    padding: 20px;
}


ion-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ion-progress-bar {
    height: 10px;
    --progress-background: #439b9c;
    --background: #dadada;
}

#next-button {
    gap: 20px;
    width: 90%;
    font-size: medium;
    --background: #439b9c;
    --padding-top: 15px;
    --padding-bottom: 15px;


}

#skip-button {
    font-size: small;
    color: #439b9c;

}

ion-footer {
    box-shadow: none;
}